*{
    text-decoration: none;
    margin: 0;
}
.navbar{
    background-color: whitesmoke;
     font-family: calibri; 
     padding-right: 15px; 
     padding-left:15px ;
     height: 70px;
}

.navdiv {
    display:flex;
     align-items: center; 
     justify-content: space-between;
     padding-top: 15px;
}

.logo a{
    font-size: 35px; font-weight: 600; color:black;
}

li{
    list-style: none; display: inline-block;
}

li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.hero-section {
    background-image: url('right\ picture.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.hero-texts {
    text-align: left;
    justify-content: center;
    color: aliceblue;
    font-family: arial;
    padding-top: 50px;
    padding-left: 100px;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    font-family: "Poppins", Sans-serif;
    line-height: 0.9em;
}

p {
    padding-top: 25px;
    font-size: 20px;
}

button {
background-color: rgba(0, 0, 0, 0);
font-family: 'lato', sans-serif;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #ffffff;
letter-spacing: 3px;
margin-top: 70px;
}

button a{
    color: #ffffff;
    font-weight: bolder;
}

h2{
    color: #1e1e22;
    font-family: "Poppins", Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 10px;
    padding-top: 35px;
    padding-left: 35px;
    text-transform: uppercase;
}

.hero2-texts {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline:0;
    padding:0;
    vertical-align: baseline;
    padding-left: 35px;
    padding-top: 35px; 
}

h3 {
    color:#1e1e22;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    padding-top: 35px;
    font-size: 3em;
}

.projects {
    display: flex;
    gap: 60px;
    margin-left: 25px;
}

.pic1 {
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pic2 {
    height: auto;
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin-top: 35px;
    }

    .pic3 {
        height: auto;
        margin-top: 35px;
        display: flex;
        gap: 60px;
        margin-bottom: 35px;
        margin-left: 35px;
    }

    .hero3 {
        background-color: #1e1e22;
        height: 400px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-left: 25px;
        margin-top: 25px;
    }

.box {
    background-color: beige;
    height: 300px;
    width: 300px;
   margin-left: 100px;
    box-sizing: border-box;
    letter-spacing: 5px;
    text-align: center;
     }

     .foot-panel1 {
        display: flex;
        background-color: #1c242a;
        margin-top: 0;
        color: burlywood;
        margin-bottom: 2px;
        justify-content: space-around;
        height: 250px;
        }

        input {
            background-color: aquamarine;
            width: 250px;
            border-radius: 5px;
            height: 25px;
    
        }

        button {
            color: #ffffff;
            border-radius: 10px;
            height: 25px;
            }

            .foot-panel2 {
                background-color: #1e1e22;
                height: 400px;
                margin-top: 0;
            }

    